# 64fedoras
# Modified: 2026-02-16
# Automatically normalizes and converts files to their respective type.

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*               text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text
*.md            text diff=markdown

#
# Exclude files from exporting
#

.gitattributes  export-ignore
.gitignore      export-ignore

#
# Enable syntax highlighting for files with `.gitattributes` extensions.
#
*.gitattributes linguist-language=gitattributes
*.gitattributes linguist-detectable=true
*.gitattributes linguist-documentation=false

*.sh      eol=lf
*.sh      text
*.sh      -text